body{
    background-color: rgb(51, 158, 224);
}
.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 110%;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    padding-bottom: 5px;
}
.menu a{
    display: block;
    background-color: white;
    width: 40%;
    height: 50%;
    text-align: center;
    padding: 1%;
    border: rgb(51, 158, 224) 3px solid;
    border-radius: 15px;
    margin: 5px;
    color: rgb(51, 158, 224);
}
#ThisPage{
    background-color: rgb(51, 158, 224);
    border: white 3px dotted;
    color: white;
}
#PicMe{
    width:80%;
    height:auto;
    display: block;
    margin: auto;
}
#PicMe img{
    width: 30%;
    height: auto;
    float: right;
}
#PicMe figcaption{
    float: right;
    display: block;
}
#VSCode{
    height: 20px;
    width: auto;
}
#gallery1{
    float: left;
    width: 30%;
    height: auto;

}
#gallery2{
    width: 30%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: auto;
}
#gallery3{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 10px;
}
.gallery img{
    width: 100%;
    height: auto;
}
h1{
    text-align: center;
    color: white;
    font-family: helvetica, arial, verdana;
    font-weight: bold;
}
.header{
    font-size: 300%;
    background-color: rgb(51, 158, 224);
    margin: auto;
    margin:auto;
    margin-top: 50px;
}
.earthquake{
    float: left;
    width: 40%;
    height: auto;
}
.earthquake img{
    width: 100%;
    height: auto;
}
#prop{
    background-color: white;
    color: rgb(51, 158, 224);
    margin-left: 40%;
    margin-right: auto;
}
#video{
    background-color: white;
}
#video h1{
    color:rgb(51, 158, 224);
}
#video p{
    color:rgb(51, 158, 224);
    text-align: center;
    margin-bottom: 5px;
}
#video a{
    color: rgb(51, 158, 224);
    text-align: center;
}
#video iframe{
    margin-bottom: 5px;
    margin: auto;
    display: block;
}
h3{
    text-align: center;
    font-family: helvetica, arial, verdana;
    color: white;
}
p{
    margin-left: 50px;
}
#doc{
   display: block;
   margin: auto;
}
#propPics{
    text-align: center;
}
#BenchWater img{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}
#BenchWater figcaption{
    background-color: white;
    text-align: center;
    width: 500px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    color: rgb(51, 158, 224);
    padding: 5px;
    border-radius: 20px;
}
#aboutPic{
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    float: right;
}
#aboutPic img{
    width: 100%;
    height: auto;
}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
a:link{
    font-weight: bold;
    text-decoration: none;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
figcaption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
ol{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.list{
    font-weight: bold;
}
#resume{
    text-align: center;
    color: rgb(51, 158, 224);
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}
.bottom{
    background-color: rgb(51, 158, 224);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}